.entry{

}
.entry-content{
	font-size: 15px;
	line-height: 24px;
	.alignleft{
		float: left;
		margin: 0 1em 0 0;
	}
	.alignright{
		float: right;
		margin: 0 0 0 1em;
	}
	.aligncenter{
		display: block;
		margin: 1em auto;
	}
	img, figure{
		max-width: 100%;
		height: auto;
	}
	h1, h2, h3, h4, h5, h6{
		font-family: @font-family-sans-serif;
	}
	table{
		.table();
	}
}
.entry-meta{
	font-size: 13px;
	line-height: 18px;
	dt{
		font-weight: bold;
		color: @gray-lightish;
	}
	dd{
		margin-bottom: 1em;
	}
	a{
		color: @gray-light;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	ul{
		padding: 1em;
		& > li {
			list-style: none;
			position: relative;
			&:before{
				content: '';
				display: block;
				width: 4px;
				height: 4px;
				background-color: #c30;
				position: absolute;
				left: -.75em;
				top: 35%;
			}
		}
	}
}