.footer-sidebars{
	background: #EEEEDC;
	border-top: 1px solid #F0EED4;
	padding-top: 2em;
	.xoxo{
		padding: 0;
		> li {
			list-style: none;
		}
	}
	a{
		color: #630;
		text-decoration: underline;
		&:hover{
			color: #660;
		}
	}
}