#nav-below{
	background: #E1E0D0;
	border-top: 2px solid #EBEADE;
	color: @gray;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 13px;
	line-height: 18px;
	div{
		background: transparent;
		transition: background .3s;
		&:hover{
			background: #EBEADE;
		}
	}
	a{
		display: block;
		color: @gray;
		padding: 1em;
		&:hover{
			text-decoration: none;
		}
	}
}